.vscode
build/
debug/
release/
waf
.waf-*
*.pyc
*.pyo
*.log
.cproject
.project

*.o
*.lo
*.la
*.so
*.out
*.pc
*.tar.*
*~

*.bak
*.swp
*.save
temp-*

*.tr
*.pcap

.cache
.config
.lock-waf*

.DS_Store
*.cmake
ns-allinone-3.39/ns-3.39/cmake-cache/