.vscode
build/
debug/
release/
waf
.waf-*
*.pyc
*.pyo
*.log
.cproject
.project

*.o
*.lo
*.la
*.so
*.out
*.pc
*.tar.*
*~

*.bak
*.swp
*.save
temp-*

*.tr
*.pcap

.cache
.config
.lock-waf*

.DS_Store
*.cmake
ns-allinone-3.39/ns-3.39/cmake-cache/
ns-allinone-3.39/ns-3.39/800-100-100/*
ns-allinone-3.39/ns-3.39/800-200-100/*
ns-allinone-3.39/ns-3.39/800-300-100/*

ns-allinone-3.39/ns-3.39/1000-100-100/
ns-allinone-3.39/ns-3.39/1000-200-100/
ns-allinone-3.39/ns-3.39/1000-300-100/

ns-allinone-3.39/ns-3.39/1400-100-100/
ns-allinone-3.39/ns-3.39/1400-200-100/
ns-allinone-3.39/ns-3.39/1400-300-100/

ns-allinone-3.39/ns-3.39/cmake-build-debug/
unstable-three-*

ns-allinone-3.39/ns-3.39/1
ns-allinone-3.39/ns-3.39/1400-*
ns-allinone-3.39/ns-3.39/three-*
ns-allinone-3.39/.DS_Store
